<?xml version="1.0"?>
<launch>

	
	<node name="stage" pkg="stage_ros" type="stageros"
	      args="$(find lab4)/world/playground.world" />
	      
	 <arg name="goalx" default="4.5" />
	 <arg name="goaly" default="9.0" />
	 <node pkg="lab4" name="astar" type="astar.py" output="screen"/>
	 	<param name="goalx" value="$(arg goalx)"/>
	 	<param name="goaly" value="$(arg goaly)"/>
	 	
</launch>
